@import "../../styles/colors";
@import "../../styles/mixins";

.main{
    margin-top: 100px;
    max-width: 1400px;
    color: white;
    padding: 20px 10%;

    @include respond-below(sm){
        padding: 20px 5%;
    }
    
    h1{
        color: $accent_blue;
        font-weight: bolder;
        font-size: 3rem;
        margin: 0 auto;
        text-align: center;
    }
}

.about{
       
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 100px;
        justify-content: space-between;     
        font-weight: 300;    
        line-height: 40px;      

        @include respond-below(md){
            grid-template-columns: 1.5fr 1fr;
            gap: 25px
        }

        @include respond-below(sm){
            grid-template-columns: auto; 
            justify-content: center;
        }
        

        .content{
            justify-self: end;
            text-align: justify;
            margin-top: 50px;
            max-width: 800px;
            font-size: 1rem;
            margin-left: 20px;
            @include respond-below(md){
                max-width: 400px;
                justify-self: center;   
                margin-top: 30px;
            }
            @include respond-below(sm){
                max-width: 400px;
            }
            
            
            .boldText{
                font-weight: bold;
            }
            a{
                text-decoration: none;
                color: $accent_pink;
            }
            a:hover{
                color: $accent_blue;
            }
        }

        img{
            width: 100%;

            @include respond-below(md){
                width: 100%;
            }
   
            @include respond-below(sm){
                display: none;
            }
    }

       
}

     