@import "../../styles/colors";
@import '../../styles/mixins';


nav{
        margin: 0 auto;
        margin-top: 50px;
        max-width: 1400px;
        font-size: 1rem;
        font-weight: bold;

        ul{
            align-items: right;
            display: grid;
            grid-template-columns: 1fr repeat(3, 150px);
            justify-items: end;
            @include respond-below(md){
                padding-right: 20px;
                padding-left: 20px;
            }
            @include respond-below(sm){
                display: none;
            }

            li{
                list-style: none;
                display: inline-block;
                padding-top: 20px;
            }
        }
        
        a{
            text-decoration: none;
            color: $accent_blue;
            transition: all 0.3s ease 0s;
        }
        a:hover{
            color: $accent_pink;
        }
}


.navLogo{
    justify-self: start;
    align-self: center;
    a{
        text-align: left;
        img{
            height: 50px;
}
    
}}
