@import "../../styles/colors";
@import '../../styles/mixins';


nav{
        margin: 0 auto;
        margin-top: 50px;
        max-width: 1400px;
        padding:30 px 10%;
        font-size: 1rem;

        ul{
            align-items: right;
            display: grid;
            grid-template-columns: 1fr repeat(3, 100px);
            justify-items: end;
            @include respond-below(md){
                padding-right: 20px;
                padding-left: 20px;
            }
            @include respond-below(sm){
                display: none;
            }

            li{
                list-style: none;
                display: inline-block;
                padding-top: 0 20px;
            }
        }
        
        a{
            text-decoration: none;
            color: $accent_pink;
            transition: all 0.3s ease 0s;
        }
        a:hover{
            color: $accent_blue;
        }
}


.NavLogo{
    grid-column: 1/2;
    justify-self: start;
    a{
        img{
    height: 50px;}
    
}}
