@import "./styles/colors";

//reset
*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    background: transparent;
}

body{
    background: $bg;
    font-family: 'Inter', sans-serif;
    color: white;
}