@import "../styles/colors";


.sponsors-section{
    margin: 0 auto;
    max-width: 1400px;
    margin-top: 50px;
    padding:20px 10%;;
    text-align: center;
    h1{
        color: $accent_blue;
        font-weight: bolder;
        font-size: 3rem;
    }
}

.sponsors{
    display: grid;
    grid-template-columns: repeat(4,auto);
    margin-top: 50px;
    padding:20px 10%;;

    li{
        list-style: none;
        .sponsor-member{
            img{
                width: 150px;
            }
    }
    
    }
}