@import "../../styles/colors";
@import '../../styles/mixins';


.sponsors{
    margin: 0 auto;
    max-width: 1400px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding:20px 10%;;
    text-align: center;
    h1{
        color: $accent_blue;
        font-weight: bolder;
        font-size: 3rem;
    }
}

.sponsorItem{
    display: grid;
    grid-template-columns: repeat(4,auto);
    justify-content: space-around;
    align-content: center;
    margin-top: 50px;
    padding:20px 10%;

    @include respond-below (md){
        grid-template-columns: repeat(2, auto);
    }

    @include respond-below (sm){
        grid-template-columns: auto;
    }
    

    li{
        list-style: none;
        align-self: center;
        padding: 20px;
        a{
            img{
                width: 150px;
                @include respond-below (md){
                    width: 120px;
                }
            }
    }
    
    }

}
